@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>
    @*Overrider bootstrap logout posisjon.*@
    .logout-right {
        position: fixed;
        right: 20px;
        top: 18px;
        flex: auto;
    }
</style>

@*Blir vist om brukeren er logget inn.*@
@if (SignInManager.IsSignedIn(User))
{
    @*Klikkbar logo*@
    <a href="/UserView/Index">
        <img width="160" src="https://egde.no/wp-content/uploads/2020/08/Egde-logo-clr-RGB.svg" />
        <a class="navbar-brand mb-1" href="/UserView/Index">Utlånssystem  </a>

    </a>

    @*Navigasjonsbaren til en innlogget bruker.*@
    <div class="collapse navbar-collapse" id="navbarColor01">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
                <a class="nav-link h5 mt-1" asp-area="" asp-page="/Equipments/Index">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link h5 mt-1" asp-area="" asp-page="/Bookings/Index">Alle bookinger</a>
            </li>
            <li class="nav-item">
                <a class="nav-link h5 mt-1" asp-area="" asp-page="/UserView/Index">Utstyr</a>
            </li>
            <li class="nav-item">
                <a class="nav-link h5 mt-1" asp-area="" asp-route-id="@User.Identity.Name" asp-page="/MyPage/Index">Mine bookinger</a>
            </li>


        </ul>

    </div>

    @*Logg ut knapp.*@
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">

        <button type="submit" class="btn btn-egde my-2 my-sm-0">Logg ut</button>
    </form>


}

@*Logo og navigasjonsbar om bruker ikke er logget inn.*@
else
{
    <a>
        <img width="160" src="https://egde.no/wp-content/uploads/2020/08/Egde-logo-clr-RGB.svg" />
    </a>

    <ul class="navbar-nav ">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}





